<!DOCTYPE html>
<html>
    <%- include('./blocks/head.ejs') %>
    <%- include('./blocks/meta.ejs') %>
    <%- include('./blocks/nav.ejs') %>
    <title>xCubed Home</title>
    <div class="LandingIntro" style="position: relative; top: 100px;">
        <h1 style="font-size: 35px; width: 100%; text-align: center;"><span style="text-decoration: underline;">xCubed</span> is the bot for your server!</h1>
        <p style="color: rgba(255, 255, 255, 0.7); font-size: 14px; max-width: 700px; text-align: center; margin-top: -10px;">xCubed gives you the power to moderate your server with ease, change things specifically for your server, and much more!</p>
        <div style="width: 100%; display: flex; justify-content: center;">
            <button class="LandingBtn" onclick="window.location.href = 'https:/\/discordapp.com/oauth2/authorize?client_id=626630111004852224&scope=bot&permissions=469822503'" style="background-color: #877EEB"><img style="margin: 0px 15px;" src="/assets/a219956caf348a5bc3434b17fce51349.svg"> Add to Discord!</button>
            <button class="LandingBtn" style="background-color: rgb(172, 73, 73)">See Features!</button>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Features will be added soon:tm: -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <%- include('./blocks/footer.ejs') %>
</html>