<div class="Nav">
    <a class="NavBtn" style="position: relative; left: 10px; top: 7px;" href="/"><%= bot.user.username %></a>
        <a class="NavBtn" style="position: relative; float: right; margin-left: 10px; margin-right: 10px;" href="https://patreon.com/Olykir">Donate</a>
        <a class="NavBtn" style="position: relative; float: right; margin-left: 10px;" href="https://discord.gg/kQUpSgw">Support</a>
    <a class="NavBtn" style="position: relative; float: right; margin-left: 10px;" href="/commands">Commands</a>
    <a class="NavBtn" style="position: relative; float: right;" href="/">Home</a>
</div>